{%extends 'df_user/user_base.html'%}
{%block head%}
<script src="/static/js/jquery-1.12.4.min.js"></script>
{%endblock%}
{%block body%}
	<div class="total_count">全部商品<em>{{carts|length}}</em>件</div>
	<ul class="cart_list_th clearfix">
		<li class="col01">商品名称</li>
		<li class="col02">商品单位</li>
		<li class="col03">商品价格</li>
		<li class="col04">数量</li>
		<li class="col05">小计</li>
		<li class="col06">操作</li>
	</ul>

	{%for c in carts%}
	<ul class="cart_list_td clearfix" id="{{c.goods_id}}">
		<li class="col01"><input type="checkbox" name="items" checked="checked"></li>
		<li class="col02"><img src="/static/{{c.goods.gpic}}"></li>
		<li class="col03">{{c.goods.gtitle}}<br><em>{{c.goods.gprice}}元/{{c.goods.gunit}}</em></li>
		<li class="col04">{{c.goods.gunit}}</li>
		<li class="col05">{{c.goods.gprice}}元</li>
		<li class="col06">
			<div class="num_add">
				<a href="javascript:;" class="add fl">+</a>
				<input type="text" class="num_show fl" value="{{c.amount}}">
				<a href="javascript:;" class="minus fl">-</a>	
			</div>
		</li>  <!-- 貌似模板语言乘除运算，丢掉了小数部分？ 只能用js计算了-->
		<li class="col07">{%widthratio c.goods.gprice 1 c.amount%}元</li>
		<li class="col08"><a href="javascript:;">删除</a></li>
	</ul>
	{%endfor%}


	<ul class="settlements">
		<li class="col01"><input type="checkbox" name="checkall" checked="checked" id="checkall"></li>
		<li class="col02">全选</li>
		<li class="col03">合计(不含运费)：<span>¥</span><em></em><br>共计<b>{{carts|length}}</b>件商品</li>
		<li class="col04"><a href="place_order.html">去结算</a></li>
	</ul>

<script>
	window.onload = function () {
		// 购物车中所有的商品类ul集合
		var uls = document.getElementsByClassName("cart_list_td");

		// 创建一个函数，当商品数量变化时，用来更新页面中商品的总价,数量等信息
		function total(items) {
		    var total_node = document.querySelector('.settlements').getElementsByTagName('em')[0];
		    var sum_amount = 0;
		    var count = 0;
			for(var i=0;i<items.length;i++){
			    var price = items[i].querySelector(".col05").innerText.slice(0,-1);
				var amount = items[i].querySelector('.num_show').value;
				var sum_price = price*amount;
				items[i].querySelector('.col07').innerText = sum_price.toFixed(2) + "元";
				if(items[i].getElementsByTagName("input")[0].checked){
				    count += parseFloat(sum_price);
				    sum_amount += 1;
				}
			}
			total_node.innerText = count;
			var amount_show = document.getElementsByClassName('settlements')[0].getElementsByTagName('b')[0];
			amount_show.innerText = sum_amount;
        }

		total(uls);

		//当所有框都选上时，全选框也选上，保持同步
		var items = document.getElementsByName("items");
		var checkAll = document.getElementById("checkall");
		for(var i=0;i<items.length;i++){
		    items[i].onclick = function () {
		        checkAll.checked = true;
		        for(var j=0;j<items.length;j++) {
                    if (!items[j].checked) {
                        checkAll.checked = false;
                        break;
                    }
                }
                total(uls);
            };

		}//全选框
		checkAll.onclick = function () {
			for(var i=0;i<items.length;i++){
			    items[i].checked = checkAll.checked;
			}
			total(uls);
        };


		var add1 = document.getElementsByClassName("add");
		var minus1 = document.getElementsByClassName("minus");
		var numShow = document.getElementsByClassName("num_show");
		var itemlist = document.getElementsByClassName("cart_list_td");
//		点击按钮+发生的事件
		for(var m=0;m<itemlist.length;m++) {
//			console.log(numShow[0]);
            add1[m].onclick = function () {
//                console.log(m);
				//千万千万别直接用变量！！！！！！用this啊
                num = parseInt(this.nextElementSibling.value) + 1;
                this.nextElementSibling.value = num;
                total(uls);
                var goods_id = this.parentNode.parentNode.parentNode;
                var goods_amount = this.nextElementSibling;
                // 对商品做出修改时同步到数据库
                $.get('/cart/edit/'+goods_id.id+'/'+goods_amount.value+'/', function (data) {
//                    console.log(this);
					if(!data.status){
					    goods_amount.value = data.amount;
					}

                });
            };

//		点击按钮-发生的事件

            minus1[m].onclick = function () {
                num = parseInt(this.previousElementSibling.value) - 1;
                if (num < 1) {
                    num = 1;
                }
                this.previousElementSibling.value = num;
                total(uls);
                var goods_id = this.parentNode.parentNode.parentNode;
                var goods_amount = this.previousElementSibling;
                // 对商品做出修改时同步到数据库
                $.get('/cart/edit/'+goods_id.id+'/'+goods_amount.value+'/', function (data) {
					if(!data.status){
					    goods_amount.value = data.amount;
					}

                });
            };

            // 在文本框修改商品数量后发生的事件

            numShow[m].onblur = function () {
			// 防止用户误输入
                num = parseInt(this.value, 10);
                var goods_id = this.parentNode.parentNode.parentNode;
                var goods_amount = this;
                if(isNaN(num)){
					alert("请输入正确的数字！");
					this.value = 1;
					total(uls);
				}else {
                    if(num < 1) {
                        num = 1;
                    }
                    this.value = num;
                    total(uls);
                }
                // 对商品做出修改时同步到数据库
                $.get('/cart/edit/'+goods_id.id+'/'+goods_amount.value+'/', function (data) {
					if(!data.status){
					    goods_amount.value = data.amount;
					}

                });
            }
        }

        //删除商品时同步到数据库
        for(var u=0;u<uls.length;u++){
		    var del = uls[u].getElementsByClassName('col08')[0].getElementsByTagName('a')[0];
			del.onclick = function () {
			    // 找出ul节点
			    var goods = this.parentNode.parentNode;
				$.get('/cart/del/'+goods.id+'/', function (data) {
					console.log(data.status);
					if(data.status){
					    // 自杀
					    goods.parentNode.removeChild(goods);
					    // 更新数据
					    total(uls);
					    // 最顶端的总商品数，也更新
					    var total_count = document.getElementsByClassName("total_count")[0].getElementsByTagName('em')[0];
						total_count.innerText -= 1;
					}
                });
            };

		}
    };
</script>
{%endblock%}