{% extends 'df_user/user_base.html' %}

	{% block body %}
	<div class="main_con clearfix">
		<div class="left_menu_con clearfix">
			<h3>用户中心</h3>
			<ul>
				<li><a href="/user/user_info/">· 个人信息</a></li>
				<li><a href="#" class="active">· 全部订单</a></li>
				<li><a href="/user/user_site/">· 收货地址</a></li>
			</ul>
		</div>
		<div class="right_content clearfix">
				<h3 class="common_title2">全部订单</h3>
			{%for o in orders%}
				<ul class="order_list_th w978 clearfix">
					<li class="col01">{{o.odate}}</li>
					<li class="col02">订单号：{{o.oid}}</li>
					<li class="col02 stress">{%if o.oispay == true%}已支付{%else%}未支付{%endif%}</li>
				</ul>

				<table class="order_list_table w980">
					<tbody>
						<tr>
							<td width="55%">
								<!--重点！！通过foo_set管理器来查询与之关联的其他模型类-->
								{%for c in o.orderdetailinfo_set.all%}
								<ul class="order_goods_list clearfix">					
									<li class="col01"><img src="/static/{{c.goods.gpic}}"></li>
									<li class="col02">{{c.goods.gtitle}}<em>{{c.goods.gprice}}元/{{c.goods.gunit}}</em></li>
									<li class="col03">{{c.count}}</li>
									<li class="col04">{%widthratio c.goods.gprice 1 c.count%}元</li>
								</ul>
								{%endfor%}
							</td>
							<td width="15%">{{o.ototal}}元</td>
							{%if o.oispay == False%}
							<td width="15%">待付款</td>
							<td width="15%"><a href="#" class="oper_btn">去付款</a></td>
							{%else%}
							<td width="15%">已付款</td>
							<td width="15%"><a href="#" class="oper_btn">查看物流</a></td>
							{%endif%}
						</tr>
					</tbody>
				</table>
			{%endfor%}


				<div class="pagenation">
					{% if orders.has_previous %}
					<a href="/user/user_order/{{orders.number|add:-1}}/"><上一页</a>
					{% endif %}

				{% for p in orders.paginator.page_range %}
				{% if p == orders.number %}
				<a href="#"  class="active" >{{p}}</a>
				{%else%}
				<a href="/user/user_order/{{p}}/">{{p}}</a>
				{% endif %}
				{%endfor%}

				{% if orders.has_next %}
				<a href="/user/user_order/{{orders.number|add:1}}/">下一页></a>
				{% endif %}
				</div>
		</div>
	</div>

<script>
	window.onload = function () {
		var counts = document.getElementsByClassName("col03");
		for(var i=0;i<counts.length;i++){
//		    console.log(counts[i].previousElementSibling.getElementsByTagName('em')[0]);
		    counts[i].nextElementSibling.innerHTML = (counts[i].previousElementSibling.getElementsByTagName('em')[0].innerText.slice(0,5)*counts[i].innerHTML).toFixed(2)+"元";
		}

    }
</script>

	{%endblock body%}


